/*  header  */
.header {
  height: 300px;
  line-height: 300px;
}

.header-text {
  text-align: center;
}

/*  button  */
.button {
  background-color: transparent;
  border: none;
}

.button:hover {
  cursor: pointer;
}

.button-search {
  position: absolute;
  font-size: 22px;
  width: 50px;
  right: 7px;
  top: 15px;
  color: var(--yellow);
  transition: font-size 100ms ease-in-out;
}

.button-search:hover {
  font-size: 24px;
}

.button-delete-all {
  padding: 10px 0;
  transition: all 200ms ease-in-out;
}

.button-delete-all:hover {
  color: var(--red);
  font-weight: bold;
}

.button-delete {
  text-align: right;
  margin-top: 5px;
  transition: all 100ms ease-in-out;
}

.button-delete:hover {
  color: var(--red);
  font-weight: 600;
}

/*  search input  */
.search-form {
  display: flex;
  position: relative;
}

.search-input {
  padding: 15px;
  width: 400px;
  font-size: 16px;
  border: 2px solid var(--yellow);
  border-radius: 10px;
}

.search-input:focus {
  outline: none;
}

.search-input.is-open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/*  search list  */
.search-list {
  background-color: var(--white);
  padding: 20px;
  border: 2px solid var(--yellow);
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* display: none; */
}

.search-list h3 {
  margin: 0;
}

.search-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-list ul {
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
}

.search-item {
  display: flex;
  align-items: center;
  transition: all 200ms ease-in-out;
}

.search-item:hover {
  background-color: var(--shadow);
  box-shadow: 1px -1px 1px 1px var(--shadow);
}

.search-keyword {
  flex: 8;
  margin: 5px 5px 0;
}

.search-keyword:hover {
  cursor: pointer;
  font-weight: 600;
}

/* result */
.result {
  margin-top: 40px;
}

.result-text {
  letter-spacing: 0.03em;
  text-align: center;
}
